/* fonts */

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('./fonts-main/IBMPlexSans-Medium.ttf')
}

.ͼ1.cm-editor.cm-focused {
    outline: none;
}

.cm-editor.ͼ1.ͼ2.ͼ3.ͼ4.ͼ5 {
    outline: none;
}

/* drag region */

#dragregion {
    color: grey;
    border-style: hidden;
    width: 98%;
    height: 16px;
    -webkit-app-region: drag;
}

/* codemirror styles */

.cm-scroller {
    max-height: 100vh;
    width: 98%;
    left: 10px;
    margin-top: 10px;
}

#editor { 
    height: 100vh;
    margin-left: 155px;
    margin-top: 10px;
    background-color: transparent;
}

/* default styles */

body { 
    background-color: #2E3235;
    /* margin: 0; */
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#sidebar {
    background-color: #1a1a1a;
    min-height: 1500px;
    max-height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    float: left;
    position: fixed;
    margin-top: 30px;
    -webkit-app-region: drag;
}

#preview {
    background-color: #2E3235;
    border: 0;
    position: relative;
    display: none; 
    float: right;
    overflow-y: scroll;
    overflow-x: scroll;
}

button { 
    background-color: transparent;
    color: #BDBDBD;
    height: 40px;
}

#container {
    height: 50%;
}