/* fonts */

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('./fonts-main/IBMPlexSans-Medium.ttf')
}

/* codemirror styles */

.cm-scroller {
    max-height: auto;
    width: 99%;
    left: 10px;
}

#editor { 
    height: auto;
    margin-left: 155px;
}

/* default styles */

body { 
    background-color: #2E3235;
    /* margin: 0; */
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#sidebar {
    background-color: #212121;
    min-height: 1500px;
    max-height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    float: left;
    position: fixed;
}

#preview {
    background-color: #2E3235;
    border: 0;
    position: relative;
    overflow-x: hidden;
    display: none; 
    float: right;
}

button { 
    background-color: transparent;
    color: #BDBDBD;
    height: 40px;
}