body { 
    background-color: #2E3235;
}

.cm-scroller {
    overflow: auto; 
    min-height: 2280px;
}

#preview {
    background-color: transparent;
    border: 0;
    height: 2880px;
    width: 50%;
    position: relative;
}